node_modules
.idea
.env
.nx
temp/
dist
.DS_Store
.eslintcache
.vscode
.history
temp.txt
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
**/dist/**
print-sources.js
update-many.js
.mcp.json
